.edgePath path.path {
    stroke: #397dab;
    stroke-width: 1px;
    fill: none;
  }
  .action-label {
    font-size: 12px;
    color: #1b8bd7;
    cursor: default;
  }
  .action-label .master::after {
    content: '主';
    background: #ff811c;
    color: white;
    padding: 0 2px;
    border-radius: 5px;
    display: inline-block;
  }
  /*xuxian*/
  .rejectEdgePath path {
    /* stroke: red; */
    /* fill: red; */
    stroke-width: 1.5px;
    stroke-dasharray: 5, 5;
  }
  .node {
    white-space: nowrap;
  }
  .node > rect {
    fill: none;
    stroke: none;
  }
  foreignobject {
    fill: black;
    font-size: 15px;
    text-anchor: middle;
  }
  foreignobject tspan {
    color: red;
  }
  foreignobject a {
    text-decoration: none;
    color: white;
    font-size: 12px;
  }
  /*
  node-dom
  */
  .d3-tip {
    display: none;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    padding: 2px;
    font-size: 12px;
    border-radius: 2px;
    position: absolute;
    z-index: 1100;
  }
  .d3-popup {
    width: 215px;
    height: 100px;
    position: absolute;
    background: white;
    border-radius: 2px;
    display: none;
    border: 1px solid #d8dcd2;
    z-index: 1100;
  }
  .d3-popup .header {
    color: white;
    background: #527295;
    text-align: center;
    padding: 1px;
    height: 20px;
    line-height: 20px;
    font-size: 14px;
  }
  .d3-popup .header .del {
    float: right;
    margin-right: 3px;
    color: #a7a5a5;
    cursor: pointer;
  }
  .d3-popup .header .del:hover {
    color: #d8dcd2;
  }
  .d3-popup .content {
    color: black;
  }
  .ellipsis {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  .node-dom {
    color: white;
    width: 120px;
    user-select: none;
  }
  .node-dom .header {
    display: flex;
    background: #1abd9d;
    height: 18px;
    padding: 0;
    line-height: 18px;
  }
  .node-dom .header .title {
    color: white;
    font-size: 12px;
    text-align: center;
    width: 100px;
    line-height: 18px;
  }
  .node-dom .header .more {
    color: white;
    padding: 0 5px;
    flex: 1;
  }
  .node-dom .header .more.select,
  .node-dom .header .more:hover {
    color: #232108;
  }
  .node-dom .result {
    text-align: center;
    height: 40px;
    color: white;
    line-height: 40px;
    background: #527295;
  }
  .node-dom.end-to-end {
    text-align: center;
    border-radius: 30px;
    background: #DD7095;
    height: 34px;
    line-height: 34px;
    width: 96px;
  }
  