.log {
    height: 100%;
    background-image: url(../images/ic_pic.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
}
.header {
    height: 70px;
    background: rgba(0,0,0,.3);
    line-height: 70px;
    padding-left: 50px;
    font-size: 20px;
    color: #FFFFFF;
}
.ewm {
    position: absolute;
    left: 120px;
    top: 23%;
    width: 175px;
}
.ewm a {
    display: block;
    height: 50px;
    background: rgba(0,0,0,.6);
    font-size: 16px;
    color: #fff;
    line-height: 20px;
    padding-top: 5px;
}
.ewm i {
    display: inline-block;
    width: 36px;
    height: 36px;
    background-image: url(../images/android.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    float: left;
    margin: 2px 15px 7px;
}
.ewm p {
    font-size: 20px;
}
.form {
    position: absolute;
    right: 120px;
    top: 23%;
    width: 410px;
    height: 350px;
    background: rgba(0,0,0,.3);
    border-radius: 8px;
}
.form .form-title {
    font-size: 20px;
    color: #FFFFFF;
    text-align: center;
    padding: 40px 0;
}
.form .form-log {
    margin: 0 55px;
}
.form .form-log .form-log-icon {
    width: 26px;
    height: 20px;
    background-position: center center;
    background-repeat: no-repeat;
}
.form .form-log .form-log-user {
    background-image: url(../images/ic_user@3x.png);
    background-size: 14px;
}
.form .form-log .form-log-pwd {
    background-image: url(../images/ic_key@3x.png);
    background-size: 12px 14px;
}
.form .form-log .form-log-check {
    font-size: 12px;
    color: #FFFFFF;
    margin-left: 10px;
}
.form .form-log .form-log-btn {
    font-size: 16px;
    color: #FFFFFF;
    letter-spacing: 1px;
}
.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 20px 0;
    border-top: 1px solid #CAD3DF;
    font-size: 14px;
    color: #F5F7F9;
}
