.ivu-modal {
    top: 10%;
    margin-bottom: 30px;
}
.ivu-modal-header .ivu-modal-header-inner {
    font-size: 16px;
    color: #657180;
    font-weight: normal;
}
.ivu-modal-footer {
    border: none;
    padding: 0;
}
.formbtns {
    text-align: right;
    margin-bottom: 0;
    border-top: 1px solid #D7DDE4;
    padding-top: 10px;
}
.formbtns .ivu-btn {
    margin-left: 20px;
    font-size: 14px;
}
.ivu-form .ivu-form-item-label {
    font-size: 14px;
}
.ivu-modal-body {
    padding-left: 0;
    padding-right: 0;
}
.ivu-form-item , .item {
    padding-left: 16px;
    padding-right: 16px;
}
.item .ivu-alert-message {
    color: #464C5B;
    font-size: 16px;
}
.item .ivu-alert-desc {
    color: #657180;
    font-size: 14px;
}
.item .roleinfo {
    font-size: 14px;
    color: #657180;
    margin-bottom: 10px;
}
.modalfix .ivu-modal-wrap {
    overflow: hidden;
}
.modalfix .ivu-modal .ivu-modal-content {
    overflow: hidden;
}

.modalcontent {
    border: 1px solid #CAD3DF;
    border-radius: 5px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 30px;
}
.leftinfo {
    float: left;
    width: 400px;
}
.modalcontent .treesear {
    padding: 15px 10px 10px;
    border-bottom: 1px solid #CAD3DF;
}
.taglist {
    padding: 20px 25px 0;
}
.taglist p {
    font-size: 14px;
    color: #3D4D65;
}
.taglist ul li {
    float: left;
    height: 36px;
    line-height: 36px;
    padding: 0 10px;
    background-color: #3399FF;
    border-radius: 6px;
    color: #fff;
    margin-right: 20px;
    margin-bottom: 15px;
}
.spaceTitle {
    font-size: 14px;
    color: #657180;
    padding: 15px 0 30px;
}
