.trans {
    margin: 0 4% 40px;
}
.trans .ivu-transfer-list-header {
    font-size: 14px;
    color: #3D4D65;
}
.trans .ivu-checkbox-inner {
    width: 18px;
    height: 18px;
    border-radius: 4px;
}
.trans .ivu-checkbox-checked .ivu-checkbox-inner::after {
    width: 6px;
    height: 11px;
    left: 5px;
}
.trans .ivu-transfer-list-content-item {
    font-size: 14px !important;
    color: #3D4D65;
}
